*{
margin:0;
padding:0;
box-sizing: border-box;
}
html,body,#root{
width: 100%;
height: 100%;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
html{
  background-color: #666262c6;
}
.notes{
  display: flex;
  gap: 1rem;
}
.note{
  background-color: #f5f2f2;
  max-width: 20rem;
  padding: 2rem;
  border-radius: 0.3rem;

}
.create-form{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  padding: 2rem;
}